table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

img {
    height: 50px;
    width: 80px;
}

.greenRow {
   background-color: limegreen;
}

.redRow {
    background-color: orangered;
}

.titles {
    background-color: plum;
}